<div>
    <h2 id="page-heading">
        <span jhiTranslate="adexPlatformApp.distance.home.title">Distances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-distance" [routerLink]="['/distance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="adexPlatformApp.distance.home.createLabel">
            Create new Distance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'adexPlatformApp.distance.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="distances">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startCity"><span jhiTranslate="adexPlatformApp.distance.startCity">Start City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDay"><span jhiTranslate="adexPlatformApp.distance.startDay">Start Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startKilometers"><span jhiTranslate="adexPlatformApp.distance.startKilometers">Start Kilometers</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endCity"><span jhiTranslate="adexPlatformApp.distance.endCity">End City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDay"><span jhiTranslate="adexPlatformApp.distance.endDay">End Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endKilometers"><span jhiTranslate="adexPlatformApp.distance.endKilometers">End Kilometers</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="driver.id"><span jhiTranslate="adexPlatformApp.distance.driver">Driver</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="truck.id"><span jhiTranslate="adexPlatformApp.distance.truck">Truck</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let distance of distances ;trackBy: trackId">
                <td><a [routerLink]="['/distance', distance.id, 'view' ]">{{distance.id}}</a></td>
                <td>{{distance.startCity}}</td>
                <td>{{distance.startDay | date:'mediumDate'}}</td>
                <td>{{distance.startKilometers}}</td>
                <td>{{distance.endCity}}</td>
                <td>{{distance.endDay | date:'mediumDate'}}</td>
                <td>{{distance.endKilometers}}</td>
                <td>
                    <div *ngIf="distance.driver">
                        <a [routerLink]="['../driver', distance.driver?.id, 'view' ]" >{{distance.driver?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="distance.truck">
                        <a [routerLink]="['../truck', distance.truck?.id, 'view' ]" >{{distance.truck?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/distance', distance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/distance', distance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'distance/'+ distance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
