<div>
    <h2 id="page-heading">
        <span jhiTranslate="adexPlatformApp.fuel.home.title">Fuels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fuel" [routerLink]="['/fuel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="adexPlatformApp.fuel.home.createLabel">
            Create new Fuel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'adexPlatformApp.fuel.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fuels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="refuelData"><span jhiTranslate="adexPlatformApp.fuel.refuelData">Refuel Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountFuel"><span jhiTranslate="adexPlatformApp.fuel.amountFuel">Amount Fuel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kilometersState"><span jhiTranslate="adexPlatformApp.fuel.kilometersState">Kilometers State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fuelPrice"><span jhiTranslate="adexPlatformApp.fuel.fuelPrice">Fuel Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="driver.id"><span jhiTranslate="adexPlatformApp.fuel.driver">Driver</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="truck.id"><span jhiTranslate="adexPlatformApp.fuel.truck">Truck</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let fuel of fuels ;trackBy: trackId">
                <td><a [routerLink]="['/fuel', fuel.id, 'view' ]">{{fuel.id}}</a></td>
                <td>{{fuel.refuelData | date:'mediumDate'}}</td>
                <td>{{fuel.amountFuel}}</td>
                <td>{{fuel.kilometersState}}</td>
                <td>{{fuel.fuelPrice}}</td>
                <td>
                    <div *ngIf="fuel.driver">
                        <a [routerLink]="['../driver', fuel.driver?.id, 'view' ]" >{{fuel.driver?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="fuel.truck">
                        <a [routerLink]="['../truck', fuel.truck?.id, 'view' ]" >{{fuel.truck?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fuel', fuel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fuel', fuel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fuel/'+ fuel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
