<div>
    <h2 id="page-heading">
        <span jhiTranslate="adexPlatformApp.truck.home.title">Trucks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-truck"
                [routerLink]="['/truck/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="adexPlatformApp.truck.home.createLabel">
            Create new Truck
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="{{ 'adexPlatformApp.truck.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trucks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="plate"><span jhiTranslate="adexPlatformApp.truck.plate">Plate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="brand"><span jhiTranslate="adexPlatformApp.truck.brand">Brand</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="productionYear"><span
                    jhiTranslate="adexPlatformApp.truck.productionYear">Production Year</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="emissionStandard"><span jhiTranslate="adexPlatformApp.truck.emissionStandard">Emission Standard</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="horsePower"><span jhiTranslate="adexPlatformApp.truck.horsePower">Horse Power</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fuelTank"><span jhiTranslate="adexPlatformApp.truck.fuelTank">Fuel Tank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="technicalExamDate"><span jhiTranslate="adexPlatformApp.truck.technicalExamDate">Technical Exam Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="compressor"><span jhiTranslate="adexPlatformApp.truck.compressor">Compressor</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="hydraulics"><span jhiTranslate="adexPlatformApp.truck.hydraulics">Hydraulics</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="gps"><span jhiTranslate="adexPlatformApp.truck.gps">Gps</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="internationalLicense"><span jhiTranslate="adexPlatformApp.truck.internationalLicense">International License</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="trailer.id"><span jhiTranslate="adexPlatformApp.truck.trailer">Trailer</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let truck of trucks ;trackBy: trackId">
                <td><a [routerLink]="['/truck', truck.id, 'view' ]">{{truck.id}}</a></td>
                <td>{{truck.plate | uppercase}}</td>
                <td>{{truck.brand}}</td>
                <td>{{truck.productionYear}}</td>
                <td jhiTranslate="{{'adexPlatformApp.EmissionStandard.' + truck.emissionStandard}}">
                    {{truck.emissionStandard}}
                </td>
                <td>{{truck.horsePower}}</td>
                <td>{{truck.fuelTank}}</td>
                <td>{{truck.technicalExamDate | date:'mediumDate'}}</td>
                <td>{{truck.compressor}}</td>
                <td>{{truck.hydraulics}}</td>
                <td>{{truck.gps}}</td>
                <td>{{truck.internationalLicense}}</td>
                <td>
                    <div *ngIf="truck.trailer">
                        <a [routerLink]="['../trailer', truck.trailer?.id, 'view' ]">{{truck.trailer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/truck', truck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/truck', truck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'truck/'+ truck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
